.DS_Store
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
backend.tf
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
images/packer_cache/
images/manifest.json

